.click {
    &__column {
        display: flex;
        flex-flow: column;
        padding: 82px 90px 59px;
        background: linear-gradient(128deg, #223224 0%, #232232 0.01%, #0f3e4b 85%, #19564b 100%);
        border-radius: 20px;
        gap: 40px;
        margin: 50px 0 100px;
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 72px;
        line-height: 100%;
        color: #9fe870;
        max-width: 676px;
    }
    &__content {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: var(--white);
        max-width: 676px;
    }
    &__button {
        a {
            border-radius: 30px;
            height: 52px;
            background: #9fe870;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            display: flex;
            flex-flow: row;
            gap: 23px;
            align-items: center;
            max-width: max-content;
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            color: #173300;
            &::after {
                position: relative;
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2949 2.15008C18.2949 2.15008 20.1451 1.41422 19.9909 3.20131C19.9395 3.93717 19.477 6.51267 19.1172 9.29843L17.8838 17.5506C17.8838 17.5506 17.781 18.7595 16.8559 18.9697C15.9308 19.1799 14.5432 18.2339 14.2862 18.0236C14.0807 17.8659 10.4318 15.5007 9.14696 14.3443C8.7872 14.0289 8.37605 13.3982 9.19834 12.6623L14.5946 7.40624C15.2113 6.77549 15.8281 5.30378 13.2584 7.09086L6.06339 12.0842C6.06339 12.0842 5.2411 12.6098 3.69934 12.1368L0.358772 11.0855C0.358772 11.0855 -0.874662 10.2971 1.23245 9.50865C6.37177 7.03826 12.6931 4.51532 18.2949 2.15008Z' fill='%23173300' /%3E%3C/svg%3E");
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                display: inline-block;
            }
        }
    }
}