.faq {
    &__row {
        display: flex;
        flex-flow: column;
        gap: 60px;
        align-items: center;
        padding: 50px 0;
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 42px;
        color: #173300;
    }
    &__items {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }
    &__item {
        background: var(--white);
        border-radius: 20px;
        border: 1px solid #b5c7a5;
        padding: 20px;
        transition: background .3s, border .3s;
        cursor: pointer;
        &_active {
            background: #f3f7f4;
            border: 1px solid transparent;
            .faq__head {
              &::after {
                rotate: (180deg);
                }
            }
        }
    }
    &__head {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #173300;
        position: relative;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        &::after {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19.5455' transform='matrix(1 0 0 -1 0 40)' fill='white' stroke='%23B5C7A5' stroke-width='0.909091'/%3E%3Cpath d='M25.2902 17.6899C25.1977 17.5972 25.0878 17.5237 24.9668 17.4735C24.8459 17.4233 24.7162 17.3975 24.5852 17.3975C24.4543 17.3975 24.3246 17.4233 24.2036 17.4735C24.0826 17.5237 23.9727 17.5972 23.8802 17.6899L20.0002 21.5699L16.1202 17.6899C15.9332 17.5029 15.6796 17.3979 15.4152 17.3979C15.1508 17.3979 14.8972 17.5029 14.7102 17.6899C14.5232 17.8769 14.4182 18.1305 14.4182 18.3949C14.4182 18.6593 14.5232 18.9129 14.7102 19.0999L19.3002 23.6899C19.3927 23.7826 19.5026 23.8562 19.6236 23.9063C19.7446 23.9565 19.8743 23.9823 20.0052 23.9823C20.1362 23.9823 20.2659 23.9565 20.3868 23.9063C20.5078 23.8562 20.6177 23.7826 20.7102 23.6899L25.3002 19.0999C25.6802 18.7199 25.6802 18.0799 25.2902 17.6899Z' fill='%23859C73'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-size: contain;
          width: 40px;
          height: 40px;
          min-width: 40px;
          transition: linear .3s;
        }
    }
    &__content {
        overflow: hidden;
        -webkit-transition: max-height 0.6s, margin-bottom 0.2s;
        transition: max-height 0.6s, margin-bottom 0.2s;
        max-height: 0;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 137%;
        color: #859c73;
        cursor: default;
        p {
            padding: 0;
        }
        ul {
            padding: 0;
            list-style: disc;
        }
        &_active {
            max-height: 500px;
        }
    }
}
