.rec {
    background: linear-gradient(129deg, #19564b 0%, #222d26 51.5%, #213028 83%), linear-gradient(129deg, #19564b 0%, #232232 34.7%, #19564b 100%);
    &__column {
        display: flex;
        flex-flow: column;
        gap: 60px;
        margin: 50px 0;
        padding: 87px 0 126px;
        align-items: center;
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 42px;
        color: var(--white);
    }
    &__items {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 20px;
    }
    &__item {
        border-radius: 24px;
        display: flex;
        flex-flow: column;
        background: var(--white);
        padding: 20px;
        gap: 20px;
    }
    &__img {
        width: 72px;
        height: 41px;
    }
    &__head {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #173300;
    }
    &__company {
        max-width: 224px;
        margin-top: 32px;
        span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: #173300;
        }
    }
}