.seo {
    &__column {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 50px 0;
        gap: 60px;
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 42px;
        color: #173300;
    }
    &__content {
        padding: 0 120px;
        height: 203px;
        overflow: hidden;
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 137%;
            color: #173300;
        }
    }
    &__button {
      display: none;
    }
}
