<section class="banner">
    <div class="container">
        <div class="banner__row">
            <div class="banner__column">
                <div class="banner__title">Денежные переводы с <span>низкой комиссией</span></div>
                <div class="banner__subtitle">Комиссия всего 2% для переводов средств из Европы в РФ и ряда других <span>направлений</span></div>
                <div class="banner__button">
                    <a class="btn-reset">Начать перевод</a>
                </div>
            </div>
            <div class="banner__img">
                <img src="../img/banner-img.png" alt="">
            </div>
        </div>
    </div>
</section>