<section class="cabinet">
  <div class="container">
    <div class="cabinet__row">
      <div class="cabinet__img">
        <img src="../img/cabinet-img.jpg" alt="">
      </div>
      <div class="cabinet__column">
        <div class="cabinet__title">В личном кабинете вы сможете</div>
        <ul class="cabinet__list list-reset">
          <li>Выпускать новые карты</li>
          <li>Пополнять карты</li>
          <li>Переводить деньги с карты на карту</li>
          <li>Выводить остаток средств в рублях</li>
        </ul>
        <div class="cabinet__button">
          <a href="">Зарегистрироваться</a>
        </div>
      </div>
    </div>
  </div>
</section>
