<section class="card">
  <div class="container">
    <div class="card__row">
      <div class="card__column">
        <div class="card__title">Что представляет из себя виртуальная карта</div>
        <div class="card__subtitle">Виртуальная карта XV — это современное решение для безопасных финансовых операций через смартфон. Основана на международной платёжной системе Visa для удобных покупок и переводов по всему миру.</div>
        <ul class="card__list list-reset">
          <li>
            <p>Международные платежи:</p>
            <span>Отправляйте деньги в более чем 40 стран мира.</span>
          </li>
          <li>
            <p>Выгодные обменные курсы:</p>
            <span>Воспользуйтесь отличными обменными курсами.</span>
          </li>
          <li>
            <p>Мгновенные переводы:</p>
            <span>Отправляйте деньги моментально из любой точки мира.</span>
          </li>
        </ul>
      </div>
      <div class="card__column">
        <img src="../img/card-img-1.png" alt="Что представляет из себя виртуальная карта">
      </div>
    </div>
  </div>
</section>
