<section class="company">
    <div class="container">
        <div class="company__column">
            <div class="company__row">
                <div class="company__items">
                    <div class="company__item company__item_6">Международные денежные переводы из России</div>
                    <div class="company__items-col">
                        <div class="company__item">Онлайн покупки за рубежом</div>
                        <div class="company__items-row">
                            <div class="company__item">Принять платеж за рубежом</div>
                            <div class="company__item">Решения для бизнеса</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company__row company__row_sb">
                <div class="company__left">
                    <div class="company__title">Более 10 000 компаний и частных лиц выбрали <span>XV</span> для оплат и переводов за границу </div>
                    <div class="company__numbers">
                        <div class="company__num">
                            $ 10M+
                            <span>Сумма проведенных выплат</span>
                        </div>
                        <div class="company__num">
                            25 000+
                            <span>Оплаченных инвойсов</span>
                        </div>
                    </div>
                </div>
                <div class="company__right">
                    <div class="company__imgs">
                        <img src="../img/company-img-1.png" alt="">
                        <img src="../img/company-img-2.png" alt="">
                        <img src="../img/company-img-3.png" alt="">
                        <img src="../img/company-img-4.png" alt="">
                        <img src="../img/company-img-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>