<section class="faq">
    <div class="container">
        <div class="faq__row">
            <div class="faq__title">
                <h2>Вопрос-ответ</h2>
            </div>
            <div class="faq__items">
                <div class="faq__item faq__item_active">
                    <div class="faq__head ">У меня менеджеры и так отлично общаются с телефонов, зачем нужна интеграция WhatsApp и amoCRM?</div>
                    <div class="faq__content faq__content_active">
                        <p>
                            Инфраструктура MoneyPort — это десятки счетов юридических и физических лиц в банках и платёжных системах по всему миру + кассы с выдачей наличных.
                        </p>
                        <p>В MoneyPort возможны:</p>
                        <ul>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                        </ul>
                        <p>В MoneyPort возможны:</p>
                        <ul>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                            <li>Переводы физлицам на PayPal, Zelle, Wise, Revolut, Сбербанк, Тинькофф;</li>
                        </ul>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__head">Можно подключить официальный WhatsApp?</div>
                    <div class="faq__content">
                        <p>Да, можно. Клиентам, которые хотят делать рассылки, мы&nbsp;всегда предлагаем подключение WhatsApp Business API. Это&nbsp;лучшее решение для&nbsp;рассылок через&nbsp;WhatsApp — получить бан&nbsp;почти невозможно.</p>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__head">Сколько займет подключение и&nbsp;настройка интеграции WhatsApp?</div>
                    <div class="faq__content">
                        <p>Интеграция WhatsApp и&nbsp;amoCRM подключается и&nbsp;настраивается за&nbsp;15&nbsp;минут. Все, что&nbsp;вам&nbsp;нужно сделать: отсканировать QR-код из&nbsp;приложения WhatsApp, чтобы&nbsp;добавить канал, выбрать свою CRM и&nbsp;поменять
                            настройки в&nbsp;личном кабинете.</p>
                        <p>Если&nbsp;возникли сложности, напишите нашей поддержке с&nbsp;аккаунта WhatsApp или&nbsp;Telegram. Ребята помогут вам&nbsp;подключить интеграцию WhatsApp и&nbsp;amoCRM и&nbsp;объяснят как&nbsp;настроить.</p>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__head">Какие еще&nbsp;мессенджеры подключаете, кроме WhatsApp?</div>
                    <div class="faq__content">
                        <p>Мы&nbsp;подключаем WhatsApp, Telegram, WhatsApp Business API, Instagram. Хоть&nbsp;один канал, хоть&nbsp;все&nbsp;мессенджеры сразу. Если&nbsp;подключите несколько, отвечать клиентам из&nbsp;разных мессенджеров и&nbsp;видеть все&nbsp;переписки
                            сможете в&nbsp;одном окне.</p>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__head">У меня не amoCRM. Вы делаете интеграцию с другими CRM?</div>
                    <div class="faq__content">
                        <p>Да, делаем. У нас есть готовые решения для 25+ CRM. Чтобы узнать о них больше, нужно перейти по ссылке на страницу <a href="/whatsapp-for-other/">Интеграция WhatsApp с CRM</a>.</p>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__head">Как мне установить виджет с мессенджерами на сайт?</div>
                    <div class="faq__content">
                        <p>Мы&nbsp;используем виджет от&nbsp;наших партнеров <a href="#">Yourgood.Widget</a>. С&nbsp;ним&nbsp;пользователи смогут удобно связаться с&nbsp;вашим бизнесом за&nbsp;пару кликов. С&nbsp;любыми вопросами по&nbsp;виджету можете обращаться
                            в&nbsp;службу поддержки Yourgood.Widget.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>