<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__column">
        <div class="footer__logo">
          <img src="../img/footer-logo.png" alt="Платёжка">
        </div>
        <div class="footer__bottom footer__bottom_hide">
          <p><a href="">Политика конфиденциальности</a></p>
          <p><a href="">Карта сайта</a></p>
          <p>2009—2024, интернет-бухгалтерия «Моё дело»</p>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__head">Контакты</div>
        <div class="footer__contacts">
          <a href="tel:+">8 800 333 78 26</a>
          <a href="mailto:f1@knopka.com">f1@knopka.com</a>
          <p>Юридический адрес: 121205, Москва, ИЦ «Сколково»,ул. Нобеля, дом 7, этаж 4, помещение 10.</p>
        </div>
        <div class="footer__social footer__social_show">
          <ul class="list-reset social" title="Соц. сети">
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--ok"
                aria-label="Наша страничка в Однокласниках"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tg"
                aria-label="Наша страничка в Телеграме"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
                aria-label="Наша страничка во Вконтакте"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--wa"
                aria-label="Наша страничка в WhatsApp"></a></li>
          </ul>
        </div>
        <div class="footer__wrap">
          <div class="footer__head">Модули сервиса</div>
          <div class="footer__links">
            <li><a href="">Главная</a></li>
            <li><a href="">Цены</a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="">О компании</a></li>
            <li><a href="">Интернет-бухгалтерия</a></li>
            <li><a href="">Регистрация бизнеса</a></li>
            <li><a href="">Бухгалтерское обслуживание</a></li>
            <li><a href="">Блог</a></li>
          </div>
        </div>
        <div class="footer__bottom footer__bottom_hide">
          <p>Сервис «Кнопка» позволяет вести бухучёт клиента в автоматическом режиме за счёт ПО, разработанного АО
            «Кнопка» путем покупки лицензии на использование сервиса. Программа обновляется ежемесячно и является
            основой Сервиса.</p>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__head">Сайт</div>
        <div class="footer__links">
          <li><a href="">Главная</a></li>
          <li><a href="">Цены</a></li>
          <li><a href="">Услуги</a></li>
          <li><a href="">О компании</a></li>
          <li><a href="">Интернет-бухгалтерия</a></li>
          <li><a href="">Регистрация бизнеса</a></li>
          <li><a href="">Бухгалтерское обслуживание</a></li>
          <li><a href="">Блог</a></li>
        </div>
        <div class="footer__bottom footer__bottom_gap footer__bottom_hide">
          <span>ИНН 9731093039</span>
          <span>КПП 773101001</span>
          <span>ОГРН 1227700292456</span>
          <span>Расчётный счёт 40702810002500131007</span>
          <span>ООО «Банк Точка»</span>
          <span>Корреспондентский счёт 30101810745374525104</span>
          <span>БИК 044525104</span>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__head">Услуги</div>
        <div class="footer__links">
          <li><a href="">Главная</a></li>
          <li><a href="">Цены</a></li>
          <li><a href="">Услуги</a></li>
          <li><a href="">О компании</a></li>
          <li><a href="">Интернет-бухгалтерия</a></li>
          <li><a href="">Регистрация бизнеса</a></li>
          <li><a href="">Бухгалтерское обслуживание</a></li>
          <li><a href="">Блог</a></li>
        </div>
        <div class="footer__social footer__social_hide">
          <ul class="list-reset social" title="Соц. сети">
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--ok"
                aria-label="Наша страничка в Однокласниках"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tg"
                aria-label="Наша страничка в Телеграме"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
                aria-label="Наша страничка во Вконтакте"></a></li>
            <li class="social__item"><a href="#" target="_blank" class="social__link social__link--wa"
                aria-label="Наша страничка в WhatsApp"></a></li>
          </ul>
        </div>
        <div class="footer__top">
          Наверх
        </div>
        <div class="footer__bottom footer__bottom_show">
          <p>Сервис «Кнопка» позволяет вести бухучёт клиента в автоматическом режиме за счёт ПО, разработанного АО
            «Кнопка» путем покупки лицензии на использование сервиса. Программа обновляется ежемесячно и является
            основой Сервиса.</p>
        </div>
        <div class="footer__bottom footer__bottom_gap footer__bottom_show">
          <span>ИНН 9731093039</span>
          <span>КПП 773101001</span>
          <span>ОГРН 1227700292456</span>
          <span>Расчётный счёт 40702810002500131007</span>
          <span>ООО «Банк Точка»</span>
          <span>Корреспондентский счёт 30101810745374525104</span>
          <span>БИК 044525104</span>
        </div>
        <div class="footer__bottom footer__bottom_show">
          <p><a href="">Политика конфиденциальности</a></p>
          <p><a href="">Карта сайта</a></p>
          <p>2009—2024, интернет-бухгалтерия «Моё дело»</p>
        </div>
      </div>
    </div>
  </div>

</footer>
