<section class="news">
    <div class="container">
        <div class="news__column">
            <div class="news__title">
                Последние новости и статьи
            </div>
            <div class="news__rows">
                <div class="swiper news__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide__item">
                                <div class="swiper-slide__head">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <div class="swiper-slide__content">Уважаемые клиенты, рады сообщить о новом способе выплат в системе Finapp - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <a href="" class="swiper-slide__button btn-reset">Читать</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__item">
                                <div class="swiper-slide__head">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <div class="swiper-slide__content">Уважаемые клиенты, рады сообщить о новом способе выплат в системе Finapp - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <a href="" class="swiper-slide__button btn-reset">Читать</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__item">
                                <div class="swiper-slide__head">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <div class="swiper-slide__content">Уважаемые клиенты, рады сообщить о новом способе выплат в системе Finapp - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <a href="" class="swiper-slide__button btn-reset">Читать</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__item">
                                <div class="swiper-slide__head">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <div class="swiper-slide__content">Уважаемые клиенты, рады сообщить о новом способе выплат в системе Finapp - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                                <a href="" class="swiper-slide__button btn-reset">Читать</a>
                            </div>
                        </div>
                    </div>
                    <div class="news__navigation">
                        <div class="news__prev">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="21" cy="21" r="20.4474" transform="matrix(-1 0 0 1 42 0)" fill="#F3F7F4" stroke="#859C73" stroke-width="1.10526" />
                            <path d="M11.6313 21.6187C11.2896 21.277 11.2896 20.723 11.6313 20.3813L17.1997 14.8128C17.5415 14.4711 18.0955 14.4711 18.4372 14.8128C18.7789 15.1545 18.7789 15.7085 18.4372 16.0503L13.4874 21L18.4372 25.9497C18.7789 26.2915 18.7789 26.8455 18.4372 27.1872C18.0955 27.5289 17.5415 27.5289 17.1997 27.1872L11.6313 21.6187ZM28.875 21.875L12.25 21.875L12.25 20.125L28.875 20.125L28.875 21.875Z" fill="#B5C7A5" />
                          </svg>
                        </div>
                        <div class="news__next">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="21" cy="21" r="20.4474" fill="#F3F7F4" stroke="#859C73" stroke-width="1.10526" />
                            <path d="M30.3687 21.6187C30.7104 21.277 30.7104 20.723 30.3687 20.3813L24.8003 14.8128C24.4585 14.4711 23.9045 14.4711 23.5628 14.8128C23.2211 15.1545 23.2211 15.7085 23.5628 16.0503L28.5126 21L23.5628 25.9497C23.2211 26.2915 23.2211 26.8455 23.5628 27.1872C23.9045 27.5289 24.4585 27.5289 24.8003 27.1872L30.3687 21.6187ZM13.125 21.875L29.75 21.875L29.75 20.125L13.125 20.125L13.125 21.875Z" fill="#B5C7A5" />
                          </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>