<section class="open">
  <div class="container">
    <div class="open__column">
      <div class="open__title">Как открыть карту</div>
      <div class="open__row">
        <div class="open__left">
          <div class="open__items">
            <div class="open__item">
              <div class="open__head">Зарегистрируйтесь</div>
              <div class="open__content">Крайне простая регистрация и не менее простая верификация. Придумай никнейм, укажи свой номер телефона и приложи любой национальный документ. Тебе не потребуется ни счет в банке, ни подтверждение дохода, ни минимальный баланс на карте. Весь процесс проходит онлайн. </div>
            </div>
            <div class="open__item">
              <div class="open__head">Закажите карту</div>
              <div class="open__content">Закажи карту XV на нашем сайте и привяжи её к своему аккаунту.</div>
            </div>
            <div class="open__item">
              <div class="open__head">Пополните</div>
              <div class="open__content">Пополните карту через свой аккаунт.</div>
            </div>
            <div class="open__item">
              <div class="open__head">Пользуйтесь</div>
              <div class="open__content">Используй пластиковую карту XV для оплаты везде, где хочешь. Переводи деньги на зарубежные счета. Езжай в путешествие или оплати любимый сервис. </div>
            </div>
          </div>
        </div>
        <div class="open__right">
          <img src="../img/open-img.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
