<section class="rec">
    <div class="container">
        <div class="rec__column">
            <div class="rec__title">Нас рекомендуют</div>
            <div class="rec__items">
                <div class="rec__item">
                    <div class="rec__img">
                        <img src="" alt="">
                    </div>
                    <div class="rec__head">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                    <div class="rec__company">
                        <span>Максим Липилин <br>
                          директор СК "Бетоныч"</span>
                    </div>
                </div>
                <div class="rec__item">
                    <div class="rec__img">
                        <img src="" alt="">
                    </div>
                    <div class="rec__head">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                    <div class="rec__company">
                        <span>Юлия Макарова, финансовый директор Миран Трейд</span>
                    </div>
                </div>
                <div class="rec__item">
                    <div class="rec__img">
                        <img src="" alt="">
                    </div>
                    <div class="rec__head">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                    <div class="rec__company">
                        <span>Иванова Анна <br>
                          CEO компании "Филтрон"</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>