<section class="service">
    <div class="container">
        <div class="service__column">
            <div class="service__title">Услуги XV</div>
            <div class="service__subtitle">В инфраструктуре Finapp десятки счетов юридических и физических лиц в банках и платежных системах по всему миру, а также кассы выдачи наличности</div>
            <div class="service__items">
                <div class="service__item service__item_half">
                    <div class="service__head">Международные переводы</div>
                    <div class="service__subhead">Отправим деньги на счета любых компаний и физ. лиц по всему миру</div>
                    <div class="service__button">
                        <a href="" class="btn-reset">Начать перевод</a>
                    </div>
                </div>
                <div class="service__wrap">
                    <div class="service__item">
                        <div class="service__head">Оплата инвойсов (счетов)</div>
                        <div class="service__subhead">Проведем оплату по выставленному инвойсу, предоставим документы</div>
                        <div class="service__button">
                            <a href="" class="btn-reset">Начать перевод</a>
                        </div>
                    </div>
                    <div class="service__item">
                        <div class="service__head">Прием платежей</div>
                        <div class="service__subhead">Получайте денежные средства в любой стране</div>
                        <div class="service__button">
                            <a href="" class="btn-reset">Начать перевод</a>
                        </div>
                    </div>
                </div>
                <div class="service__item service__item_full">
                    <div class="service__head">Массовые выплаты</div>
                    <div class="service__subhead">Моментально отправляйте зарплату работникам на карты по всему миру</div>
                    <div class="service__button">
                        <a href="" class="btn-reset">Начать перевод</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>