<section class="smi">
    <div class="container">
        <div class="smi__column">
            <div class="smi__title">О нас в СМИ</div>
            <div class="smi__items">
                <div class="smi__item">
                    <div class="smi__img">
                        <img src="" alt="">
                    </div>
                    <div class="smi__content">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                </div>
                <div class="smi__item">
                    <div class="smi__img">
                        <img src="" alt="">
                    </div>
                    <div class="smi__content">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                </div>
                <div class="smi__item">
                    <div class="smi__img">
                        <img src="" alt="">
                    </div>
                    <div class="smi__content">Новый способ выплат - на банковские карты РФ через систему быстрых платежей (СБП)</div>
                </div>
            </div>
        </div>
    </div>
</section>