<section class="tariff">
  <div class="container">
    <div class="tariff__column">
      <div class="tariff__title">Наши тарифы</div>
      <div class="tariff__items">
        <div class="tariff__item tariff__item_sb">
          <div class="tariff__head tariff__head_main">Безналичная оплата в ЕВРО</div>
          <div class="tariff__price">
            1 499 ₽
            <span>Обслуживание</span>
          </div>
        </div>
        <div class="tariff__wrap">
          <div class="tariff__item">
            <div class="tariff__head">Оплата от фирмы с НДС</div>
            <div class="tariff__subhead">от 1,5% </div>
          </div>
          <div class="tariff__item">
            <div class="tariff__head">Оплата в страны СНГ</div>
            <div class="tariff__subhead">от 1,5% </div>
          </div>
          <div class="tariff__item">
            <div class="tariff__head">Оплата на юридическое лицо в Европе (по SEPA) без НДС</div>
            <div class="tariff__subhead">доплата с вашей стороны 0,5%* на курс по xe.com</div>
          </div>
          <div class="tariff__item">
            <div class="tariff__head">Оплата физическому лицу (не гражданину РФ)</div>
            <div class="tariff__subhead">от 2,5% </div>
          </div>
          <div class="tariff__item">
            <div class="tariff__head">Оплата в другие страны (по SWIFT)</div>
            <div class="tariff__subhead">от 0,5% +100 евро за каждое платежное поручение</div>
          </div>
          <div class="tariff__item">
            <div class="tariff__head">Плата за выпуск карты</div>
            <div class="tariff__subhead">1 499 ₽</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
