<section class="virtual">
  <div class="container">
    <div class="virtual__column">
      <div class="virtual__title">Виртуальная карта <span>XV PaymentSystem</span></div>
      <ul class="virtual__list list-reset">
        <li>Выпустить карту онлайн за несколько секунд</li>
        <li>Европейский счет</li>
        <li>Покупки онлайн по всему миру</li>
      </ul>
      <div class="virtual__button">
        <a class="virtual__link">Заявка через Telegram</a>
      </div>
    </div>
  </div>
</section>
