<section class="why">
    <div class="container">
        <div class="why__column">
            <div class="why__title">Кому подойдет сервис</div>
            <div class="why__items">
                <div class="why__item why__item_4">
                    <div class="why__head">Компаниям, совершающим выплаты по всему миру (зарплаты сотрудникам, оплата сервисов Google, Facebook)</div>
                    <div class="why__button">
                        <a href="" class="btn-reset">Юр. лица</a>
                    </div>
                </div>
                <div class="why__item why__item_3">
                    <div class="why__head">Логистическим компаниям, оплачивающим товары в Европе</div>
                    <div class="why__button">
                        <a href="" class="btn-reset">Юр. лица</a>
                    </div>
                </div>
                <div class="why__item why__item_5">
                    <div class="why__head">Розничная и оптовая торговля, для перевода денег по контрактам в Китай, Европу, США </div>
                    <div class="why__button">
                        <a href="" class="btn-reset">Юр. лица</a>
                    </div>
                </div>
                <div class="why__item why__item_5">
                    <div class="why__head">Фрилансер, получающий доход на иностранную карту</div>
                    <div class="why__button">
                        <a href="" class="btn-reset">Физ. лица</a>
                    </div>
                </div>
                <div class="why__item why__item_4">
                    <div class="why__head">Житель РФ, находящийся за рубежом</div>
                    <div class="why__button">
                        <a href="" class="btn-reset">Физ. лица</a>
                    </div>
                </div>
                <div class="why__item why__item_3">
                    <div class="why__head">Инвестор в зарубежные активы</div>
                    <div class="why__button">
                        <a href="" class="btn-reset">Физ. лица</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>