// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
// подключения компонентов страницы
@import "./components/header";
.connections {
    &__title {
        color: #212121;
        text-align: center;
        font-family: var(--font-family);
        font-size: 57px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 53px;
        width: 100%;
    }
    &__row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 58px 0;
    }
    &__column {
        display: flex;
        flex-flow: column;
        flex: 1 0 0;
        gap: 16px;
        &_row {
            flex-flow: row wrap;
            gap: 154px;
            align-items: flex-end;
        }
    }
    &__items {
        display: flex;
        flex-flow: column;
        gap: 29px;
    }
    &__head {
        color: #212121;
        font-family: var(--font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-align: center;
    }
    &__options {
        display: flex;
        flex-flow: column;
        gap: 11px;
    }
    &__radio {
        position: relative;
        input[type="radio"] {
            visibility: hidden;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 100%;
        }
        input[name="channels"]+label {
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Ccircle cx='16' cy='16' r='12' fill='white'/%3E%3Cpath d='M16.0003 26.6665C13.1713 26.6665 10.4582 25.5427 8.45785 23.5423C6.45747 21.5419 5.33366 18.8288 5.33366 15.9998C5.33366 13.1709 6.45747 10.4578 8.45785 8.45736C10.4582 6.45698 13.1713 5.33317 16.0003 5.33317C18.8293 5.33317 21.5424 6.45698 23.5428 8.45736C25.5432 10.4578 26.667 13.1709 26.667 15.9998C26.667 18.8288 25.5432 21.5419 23.5428 23.5423C21.5424 25.5427 18.8293 26.6665 16.0003 26.6665ZM16.0003 2.6665C14.2494 2.6665 12.5156 3.01138 10.8979 3.68144C9.2802 4.35151 7.81035 5.33363 6.57223 6.57175C4.07175 9.07223 2.66699 12.4636 2.66699 15.9998C2.66699 19.5361 4.07175 22.9274 6.57223 25.4279C7.81035 26.666 9.2802 27.6482 10.8979 28.3182C12.5156 28.9883 14.2494 29.3332 16.0003 29.3332C19.5365 29.3332 22.9279 27.9284 25.4284 25.4279C27.9289 22.9274 29.3337 19.5361 29.3337 15.9998C29.3337 14.2489 28.9888 12.5151 28.3187 10.8974C27.6487 9.27972 26.6665 7.80986 25.4284 6.57175C24.1903 5.33363 22.7204 4.35151 21.1028 3.68144C19.4851 3.01138 17.7513 2.6665 16.0003 2.6665Z' fill='%2389909D'/%3E%3C/svg%3E");
                position: absolute;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
                transition: opacity .3s;
                z-index: 100;
            }
        }
        input[name="crm"]+label {
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Ccircle cx='16' cy='16' r='12' fill='white'/%3E%3Cpath d='M16.0003 26.6665C13.1713 26.6665 10.4582 25.5427 8.45785 23.5423C6.45747 21.5419 5.33366 18.8288 5.33366 15.9998C5.33366 13.1709 6.45747 10.4578 8.45785 8.45736C10.4582 6.45698 13.1713 5.33317 16.0003 5.33317C18.8293 5.33317 21.5424 6.45698 23.5428 8.45736C25.5432 10.4578 26.667 13.1709 26.667 15.9998C26.667 18.8288 25.5432 21.5419 23.5428 23.5423C21.5424 25.5427 18.8293 26.6665 16.0003 26.6665ZM16.0003 2.6665C14.2494 2.6665 12.5156 3.01138 10.8979 3.68144C9.2802 4.35151 7.81035 5.33363 6.57223 6.57175C4.07175 9.07223 2.66699 12.4636 2.66699 15.9998C2.66699 19.5361 4.07175 22.9274 6.57223 25.4279C7.81035 26.666 9.2802 27.6482 10.8979 28.3182C12.5156 28.9883 14.2494 29.3332 16.0003 29.3332C19.5365 29.3332 22.9279 27.9284 25.4284 25.4279C27.9289 22.9274 29.3337 19.5361 29.3337 15.9998C29.3337 14.2489 28.9888 12.5151 28.3187 10.8974C27.6487 9.27972 26.6665 7.80986 25.4284 6.57175C24.1903 5.33363 22.7204 4.35151 21.1028 3.68144C19.4851 3.01138 17.7513 2.6665 16.0003 2.6665Z' fill='%2389909D'/%3E%3C/svg%3E");
                position: absolute;
                left: -15px;
                top: 50%;
                transform: translateY(-50%);
                transition: opacity .3s;
                z-index: 100;
            }
        }
        label {
            cursor: pointer;
            display: flex;
            padding: 20px 24px;
            height: 66px;
            justify-content: center;
            align-items: center;
            flex: 1 0 0;
            border-radius: 8px;
            border: 1px solid #89909D;
            background: #fff;
            user-select: none;
            color: #212121;
            font-family: var(--font-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            position: relative;
        }
        input[type="radio"]:checked+label {
            &::after {
                position: absolute;
                content: '';
                z-index: 100;
                width: 32px;
                height: 32px;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Crect width='32' height='32' rx='16' fill='white'/%3E%3Cpath d='M16.0003 29.3332C8.63633 29.3332 2.66699 23.3638 2.66699 15.9998C2.66699 8.63584 8.63633 2.6665 16.0003 2.6665C23.3643 2.6665 29.3337 8.63584 29.3337 15.9998C29.3337 23.3638 23.3643 29.3332 16.0003 29.3332ZM14.671 21.3332L24.0977 11.9052L22.2137 10.0198L14.671 17.5625L10.899 13.7905L9.01366 15.6758L14.671 21.3332Z' fill='%2321BA4C'/%3E%3C/svg%3E");
            }
        }
    }
    &__subtitle {
        color: #212121;
        font-family: var(--font-family);
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
    &__buttons {
        display: grid;
        grid-template-columns: 1fr 286px;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 9px;
        grid-row-gap: 9px;
    }
    &__content {
        font-family: var(--font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 8px;
    }
    &__btn {
        display: flex;
        padding: 20px 32px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 16px;
        font-family: var(--font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        background: #fff;
        cursor: pointer;
        &_green {
            border: 1px solid #21BA4C;
            background: #21BA4C;
            color: #FFF;
            grid-area: 1 / 1 / 2 / 2;
        }
        &_text {
            border: 1px solid #21BA4C;
            color: #21BA4C;
            max-width: 286px;
            width: 100%;
            grid-area: 1 / 2 / 2 / 3;
        }
    }
    &__text {
        color: #4E4E4E;
        text-align: center;
        font-family: var(--font-family);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        bottom: -25px;
        left: 20px;
        grid-area: 2 / 2 / 3 / 3;
    }
}

.tariff {
    &__title {
        color: #212121;
        text-align: center;
        font-family: var(--font-family);
        font-size: 57px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 96px;
        width: 100%;
        span {
            color: #21BA4C;
            font-size: 57px;
            position: relative;
            &::after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='44' viewBox='0 0 40 44' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.7099 41.0324C30.5027 39.946 34.4736 39.3979 38.3256 38.8959C39.1553 38.7906 39.9256 39.378 39.9849 40.2055C40.1034 41.0336 39.5104 41.791 38.74 41.8962C35.0065 42.3796 31.1548 42.8968 27.5398 43.9427C26.7694 44.1695 25.9394 43.7025 25.7024 42.8992C25.4653 42.0965 25.9395 41.2599 26.7099 41.0324Z' fill='%23373A44'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7936 26.0779C21.0725 19.7168 28.1439 14.1745 34.3008 7.64266C34.8494 7.03263 35.8248 6.99995 36.4344 7.56944C37.044 8.13952 37.1047 9.09814 36.4951 9.70817C30.3382 16.2587 23.2668 21.8192 16.988 28.1991C16.3784 28.7946 15.4032 28.8031 14.7936 28.2172C14.245 27.632 14.184 26.6734 14.7936 26.0779Z' fill='%23373A44'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.07361 1.63722C2.91731 5.3741 2.76131 9.11097 2.60501 12.8485C2.60501 13.7044 1.9795 14.3653 1.25009 14.3237C0.520682 14.2815 -1.88351e-05 13.5529 -1.88351e-05 12.6963C0.156283 8.9532 0.312279 5.21073 0.468581 1.46826C0.520682 0.61231 1.14599 -0.0442532 1.8754 0.00233358C2.5527 0.0489203 3.12571 0.781887 3.07361 1.63722Z' fill='%23373A44'/%3E%3C/svg%3E");
                position: absolute;
                top: -20px;
                left: 100%;
            }
        }
    }
    &__row {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin: 58px 0;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-image: url(../img/pic.png);
            background-repeat: no-repeat;
            width: 178px;
            height: 178px;
            left: -200px;
            bottom: 105px;
        }
    }
    .tabs {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 32px;
        &__nav {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            border-radius: 16px;
            background: #fff;
            border: 1px solid #89909D;
            padding: 8px;
            width: max-content;
            margin: auto;
            gap: 17px;
        }
        &__nav-item {}
        &__nav-btn {
            border-radius: 12px;
            background: #fff;
            height: 50px;
            padding: 12px 32px;
            border: none;
            cursor: pointer;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            span {
                font-size: 14px;
                font-weight: 400;
                margin-left: 8px;
            }
            &.tabs__nav-btn--active:focus,
            &.tabs__nav-btn--active:active {
                background-color: #202227;
                color: #fff;
            }
            &:focus,
            &:active {
                background-color: #202227;
                color: #fff;
            }
        }
        &__content {
            display: flex;
            flex-flow: row;
            gap: 20px;
        }
        &__panel {
            display: flex;
            flex-flow: column;
            gap: 8px;
            flex: 1 0 0;
        }
        &__title {
            display: flex;
            width: 388px;
            padding: 28px 143px;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            background: #F4F4F4;
            color: #212121;
            text-align: center;
            font-family: var(--font-family);
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
        }
        &__list {
            border-radius: 30px;
            background: #F4F4F4;
            margin: 0;
            padding: 32px 24px 40px 24px;
            list-style: none;
            display: flex;
            flex-flow: column;
            gap: 30px;
        }
        &__item {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
        &__left {
            flex: 1 0 42%;
            display: flex;
            flex-flow: row;
            align-items: center;
            gap: 8px;
            i {}
            span {
                color: #212121;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
            }
        }
        &__right {
            flex: 1 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-flow: row nowrap;
            gap: 12px;
            &_center {
                justify-content: center;
            }
            &_align-center {
                align-items: center;
            }
            small {
                color: #212121;
                font-family: Golos;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
            }
            span {
                color: #212121;
                font-family: var(--font-family);
                font-size: 46px;
                font-style: normal;
                font-weight: 600;
                line-height: 1;
                span {
                    font-size: 36px;
                }
            }
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 124px;
            background: #21BA4C;
            height: 66px;
            width: 100%;
            border: none;
            cursor: pointer;
            color: #FFF;
            font-family: var(--font-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            margin-top: 10px;
        }
    }
}

.col-icon {
    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21.3999 7.4998C22.1999 8.2998 22.1999 9.5998 21.3999 10.2998L18.5999 13.0998L10.7999 5.2998L13.5999 2.4998C14.3999 1.6998 15.6999 1.6998 16.3999 2.4998L18.1999 4.2998L21.1999 1.2998L22.5999 2.6998L19.5999 5.6998L21.3999 7.4998ZM15.5999 13.2998L14.1999 11.8998L11.3999 14.6998L9.2999 12.5998L12.0999 9.7998L10.6999 8.3998L7.8999 11.1998L6.3999 9.7998L3.5999 12.5998C2.7999 13.3998 2.7999 14.6998 3.5999 15.3998L5.3999 17.1998L1.3999 21.1998L2.7999 22.5998L6.7999 18.5998L8.5999 20.3998C9.3999 21.1998 10.6999 21.1998 11.3999 20.3998L14.1999 17.5998L12.7999 16.1998L15.5999 13.2998Z' fill='black'/%3E%3C/svg%3E");
    }
}

.voice-icon {
    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.2172 4.63379C18.7915 2.98535 15.7197 2 12.001 2H12C8.28071 2 5.20845 2.98438 3.78218 4.63379C1.41595 7.37109 1.41595 14.6289 3.78266 17.3672C4.25392 17.8825 4.80998 18.3132 5.42671 18.6406L5.75923 20.6396C5.81389 20.9693 5.95031 21.28 6.15602 21.5433C6.36173 21.8066 6.63017 22.0141 6.93679 22.1469C7.24341 22.2797 7.57843 22.3335 7.91122 22.3034C8.244 22.2733 8.56393 22.1603 8.84175 21.9746L11.5742 20.1524C11.7411 20.0448 11.9361 19.9887 12.1347 19.9912C15.7959 19.9668 18.8173 18.9854 20.2172 17.3662C22.5835 14.6289 22.5835 7.37109 20.2172 4.63379ZM6.99995 11.375C6.99995 11.6402 6.89459 11.8946 6.70706 12.0821C6.51952 12.2696 6.26517 12.375 5.99995 12.375C5.73473 12.375 5.48038 12.2696 5.29284 12.0821C5.10531 11.8946 4.99995 11.6402 4.99995 11.375V10.625C4.99995 10.3598 5.10531 10.1054 5.29284 9.91789C5.48038 9.73036 5.73473 9.625 5.99995 9.625C6.26517 9.625 6.51952 9.73036 6.70706 9.91789C6.89459 10.1054 6.99995 10.3598 6.99995 10.625V11.375ZM9.99995 13C9.99995 13.2652 9.89459 13.5196 9.70706 13.7071C9.51952 13.8946 9.26517 14 8.99995 14C8.73473 14 8.48038 13.8946 8.29284 13.7071C8.10531 13.5196 7.99995 13.2652 7.99995 13V9C7.99995 8.73478 8.10531 8.48043 8.29284 8.29289C8.48038 8.10536 8.73473 8 8.99995 8C9.26517 8 9.51952 8.10536 9.70706 8.29289C9.89459 8.48043 9.99995 8.73478 9.99995 9V13ZM13 12C13 12.2652 12.8946 12.5196 12.7071 12.7071C12.5195 12.8946 12.2652 13 12 13C11.7347 13 11.4804 12.8946 11.2928 12.7071C11.1053 12.5196 11 12.2652 11 12V10C11 9.73478 11.1053 9.48043 11.2928 9.29289C11.4804 9.10536 11.7347 9 12 9C12.2652 9 12.5195 9.10536 12.7071 9.29289C12.8946 9.48043 13 9.73478 13 10V12ZM16 14C16 14.2652 15.8946 14.5196 15.7071 14.7071C15.5195 14.8946 15.2652 15 15 15C14.7347 15 14.4804 14.8946 14.2928 14.7071C14.1053 14.5196 14 14.2652 14 14V8C14 7.73478 14.1053 7.48043 14.2928 7.29289C14.4804 7.10536 14.7347 7 15 7C15.2652 7 15.5195 7.10536 15.7071 7.29289C15.8946 7.48043 16 7.73478 16 8V14ZM19 11.5C19 11.7652 18.8946 12.0196 18.7071 12.2071C18.5195 12.3946 18.2652 12.5 18 12.5C17.7347 12.5 17.4804 12.3946 17.2928 12.2071C17.1053 12.0196 17 11.7652 17 11.5V10.5C17 10.2348 17.1053 9.98043 17.2928 9.79289C17.4804 9.60536 17.7347 9.5 18 9.5C18.2652 9.5 18.5195 9.60536 18.7071 9.79289C18.8946 9.98043 19 10.2348 19 10.5V11.5Z' fill='black'/%3E%3C/svg%3E");
    }
}

.price-icon {
    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_285_1795)'%3E%3Cpath d='M13.8333 6.16681H10V12.0401H13.86C14.6775 12.0765 15.4764 11.7888 16.0831 11.2396C16.6897 10.6903 17.0551 9.92392 17.1 9.10681C17.0795 8.69893 16.9787 8.29913 16.8033 7.93035C16.6278 7.56157 16.3812 7.23109 16.0777 6.9579C15.7741 6.6847 15.4196 6.47418 15.0344 6.33842C14.6493 6.20266 14.2411 6.14434 13.8333 6.16681Z' fill='black'/%3E%3Cpath d='M11.9999 1.3335C9.89026 1.3335 7.82796 1.95909 6.07384 3.13115C4.31972 4.30322 2.95254 5.96913 2.14521 7.91821C1.33787 9.86728 1.12664 12.012 1.53821 14.0811C1.94979 16.1503 2.96569 18.0509 4.45745 19.5426C5.94921 21.0344 7.84983 22.0503 9.91896 22.4619C11.9881 22.8734 14.1328 22.6622 16.0819 21.8549C18.031 21.0475 19.6969 19.6804 20.8689 17.9262C22.041 16.1721 22.6666 14.1098 22.6666 12.0002C22.6666 9.17119 21.5428 6.45808 19.5424 4.45769C17.542 2.4573 14.8289 1.3335 11.9999 1.3335ZM13.8333 13.7068H9.99992V14.6668H15.5266C15.7034 14.6668 15.873 14.7371 15.998 14.8621C16.123 14.9871 16.1933 15.1567 16.1933 15.3335C16.1933 15.5103 16.123 15.6799 15.998 15.8049C15.873 15.9299 15.7034 16.0002 15.5266 16.0002H9.99992V19.3335C9.99992 19.5545 9.91213 19.7665 9.75585 19.9228C9.59957 20.079 9.3876 20.1668 9.16659 20.1668C8.94558 20.1668 8.73361 20.079 8.57733 19.9228C8.42105 19.7665 8.33326 19.5545 8.33326 19.3335V16.0002H7.49992C7.32311 16.0002 7.15354 15.9299 7.02852 15.8049C6.90349 15.6799 6.83326 15.5103 6.83326 15.3335C6.83326 15.1567 6.90349 14.9871 7.02852 14.8621C7.15354 14.7371 7.32311 14.6668 7.49992 14.6668H8.30659V13.7068H7.49992C7.27891 13.7068 7.06695 13.619 6.91067 13.4628C6.75439 13.3065 6.66659 13.0945 6.66659 12.8735C6.66659 12.6525 6.75439 12.4405 6.91067 12.2842C7.06695 12.128 7.27891 12.0402 7.49992 12.0402H8.30659V5.3335C8.30659 5.11248 8.39439 4.90052 8.55067 4.74424C8.70695 4.58796 8.91891 4.50016 9.13992 4.50016H13.8066C15.0669 4.46062 16.2915 4.92279 17.2114 5.78522C18.1314 6.64766 18.6715 7.83988 18.7133 9.10016C18.6714 10.3563 18.1352 11.5451 17.2213 12.4078C16.3074 13.2705 15.0897 13.7374 13.8333 13.7068Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_285_1795'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
}

.leader-line {
    z-index: -1;
}